<% provide(:title, "Home") %>
<div class = "container-fluid row">
  <h1 class = "text-center col-md-12">ParcelTrack MMU</h1>
  <h3 class = "text-center col-md-12">A web application to track your parcel easily</h3>
  <div class = "jumbotron col-md-offset-4 col-md-4" style="padding-top:0px;">
  <h3>How to find your parcel:</h3>
  <ol>
    <li>Log in using your MMU account to verify your identity</li>
    <li>View the list of parcels</li>
    <li>Search for your parcel</li>
  </ol>
  <% if !logged_in? %>
  <%= link_to "Login using MMU Account", "/auth/google_oauth2", class: "btn btn-primary btn-lg", id: "sign_in" %> 
  <% else %>
  <p>You are logged in as <%= @user.name %></p>
  <% end %>
  </div>
</div>
