<% provide(:title, "Home") %>
<div class = "container-fluid row">
  <h1 class = "text-center col-md-12">Welcome to ParcelTrack MMU</h1>
  <div class = "jumbotron col-md-offset-4 col-md-4">
  
  <h1 class = "text-center" style = "font-size: 5vh">
    Sign in
  </h1>
  <br>
  </div>
</div>
