@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 16px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

body {
  padding-top: 65px;
}