<header class = "navbar navbar-inverse navbar-fixed-top" >
  <div class = "container">
    <%= link_to "parceltrack", root_path, id: "logo" %>
    <nav>
      <ul class = "nav navbar-nav navbar-right">
        <li><%= link_to "Search", search_path %></li>
      </ul>
    </nav>
  </div>
</header>